:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

html.lenis,
html.lenis body {
    height: auto;
}

html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

* {
    color-scheme: dark;
}

a {
    text-decoration: none;
    color: rgb(222, 197, 255);
}

a:hover {
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #23272a;
    background-color: #ffffffde;
    backdrop-filter: blur(5px);

    border-radius: 10px;
    padding: 15px 30px;
    font-size: 19px;
    line-height: 24px;
    transition: all 0.2s;
    width: max-content;
    text-decoration: none !important;
    font-weight: 600;
}

.button-discord {
    color: #17191b;
    background-color: #96a6e2;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.material-symbols-outlined {
    margin-right: 0.35rem;
}

.button img {
    margin-right: 0.5rem;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.download-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

/* fonts */
@font-face {
    font-family: NotoSans;
    src: url('/static/fonts/NotoSans-Regular.woff2');
}

@font-face {
    font-family: NotoSansBold;
    src: url('/static/fonts/NotoSans-Bold.woff2');
}
